.container {
    display: flex;
  }
  
  .pokemon-list {
    flex: 1;
    margin-left: 20px;
  }
  .pokemon-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 10px;
  }
  
  .bottonPre {
    display: flex;
    justify-content: space-between;
  }

  .bottonNext {
    display: flex;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }

  .container {
    position: relative;
  }
  
  .pokemon-details-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    overflow: auto;
    
  }
  
  .pokemon-details-container.active {
    display: flex;
  }
  
  .pokemon-details {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    flex: 0.5;
    text-align: center;
  
  }
  
  .pokemon-details button {
    margin-top: 10px;
  }
  